@model Outbound_company.Models.OutboundCompany

@{
    ViewData["Title"] = "Company Details";
}

<h1>Company Details</h1>

<div>
    <h4>OutboundCompany</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Channel)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Channel)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Extension)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Extension)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Context)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Context)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CallerId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CallerId)
        </dd>
    </dl>
</div>

<div>
    <a class="btn btn-primary" asp-action="Index">Back to List</a>
    <form asp-action="MakeCall" method="post" style="display:inline;">
        <input type="hidden" name="id" value="@Model.Id" />
        <button type="submit" class="btn btn-success">Make Call</button>
    </form>
    <a class="btn btn-info" asp-action="Start" asp-route-id="@Model.Id">Start</a>
    <a class="btn btn-danger" asp-action="Stop" asp-route-id="@Model.Id">Stop</a>
    <a class="btn btn-secondary" asp-action="Statistics" asp-route-id="@Model.Id">Statistics</a>
</div>

<div>
    @ViewBag.Message
</div>
